/* COLOR GLOSSARY */

$heidelberg-fog: #C2D7D1;
$neckar-river: #5F9595;
$night-castle: #264949;
$wein-nacht: #D75556;
$rosy-cheeks: #F9B5A1;

/* FONT GLOSSARY */

$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', serif;

/* WEBSITE SCHEMA */

$title-font: $montserrat;
$subtitle-font: $lora;
$header-font: $montserrat;
$text-font: $lora;
$list-font: $lora;
