---
---
@import 'resources';

.section {
  background: rgba($english-tea, .8);
  float: right;
  width: 100%;
  margin-left: 180px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
}

.sidenav {
  height: 100%;
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100;
  left: 0;
  background: rgba($english-tea, .8); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.welcome > p {
  top: 100px;
  left: 170px;
  text-align: center;
  padding: 0px 10px;
}

.what-to-do > p {
  top: 100px;
  left: 170px;
  text-align: center;
  padding: 0px 10px;
}

.cost > p {
  top: 100px;
  left: 170px;
  text-align: center;
  padding: 0px 10px;
}

.family-friends > p {
  top: 100px;
  left: 170px;
  text-align: center;
  padding: 0px 10px;
}
