---
---
@import 'resources';

.section {
  background: rgba($english-tea, .8);
  padding: 10px 0;
}

.welcome > p {
  text-align: center;
  margin-left: 160px;
  padding: 0px 10px;
}

.what-to-do > p {
  text-align: center;
  margin-left: 160px;
  padding: 0px 10px;
}

.cost > p {
  text-align: center;
  margin-left: 160px;
  padding: 0px 10px;
}

.family-friends > p {
  text-align: center;
  margin-left: 160px;
  padding: 0px 10px;
}
