---
---
@import 'resources';

html {
  background: $heidelberg-fog;
}

body {
  min-height: 100vh;
}

* {
  text-align: left;
}

h1 {
  font-family: $title-font;
  font-weight: lighter;
  font-size: 48px;
  color: $night-castle;
  margin-left: 20px;
  text-align: left;
}

h2 {
  font-family: $header-font;
  color: $night-castle;
  margin-left: 20px;
  text-align: left;
}

h3 {
  font-family: $subtitle-font;
  color: $night-castle;
  font-size: 26px;
  margin-left: 20px;
  text-align: left;
}

p, a {
  font-family: $text-font;
  font-weight: bold;
  color: $night-castle;
  text-align: left;
}

.construction {
  color: $neckar-river;
}

div {
  display: flex;
  flex-direction: column;

  width: 50vw;
  margin: 20px auto;

  @media (min-width: 200px) {
    width: 50vw;
  }
}
