---
layout: default
---

<link rel="stylesheet" type="text/css" href="assets/home.css">

<div class="sidenav">
  <a href="/derkeramikofen.github.io/layouts/home.html">Über uns</a>
  <a href="/derkeramikofen.github.io/layouts/veranstaltungen.html">Veranstaltungen und Aktuelles</a>
  <a href="/derkeramikofen.github.io/layouts/kontakt.html">Kontakt und Information</a>
</div>

<div class="welcome section">
  <h2>Herzlich Willkommen!</h2>
  <p>An Festtagen, wie an Geburtstagen, zu Weihnachten, Ostern oder, als Hochzeitsgeschenk, ein Andenken an Heidelberg und an eine schöne Zeit oder einfach nur so für Sie selbst. Komm alleine, mit Freunden, Kollegen oder mit Kindern, als Junggesellenabschied, Klassenausflug, Geburtstagsfest oder einfach ein Abend zu zweit....was für ein tolles Date!</p>
  <h2>Was ich im 'Keramikofen' machen kann?</h2>
  <p>Sie suchen sich eine Keramik aus und skizzieren Ihre Idee frei Hand mit Bleistift darauf. Oder Sie benutzen eine der vorhandenen Schablonen an Mustern und Formen. Wir glasieren und brennen dann die fertig bemalten Keramiken und nach nur wenigen Tagen können Sie Ihr Kunstwerk bei uns abholen!</p>
  <h2>Wieviel kostet der spass?</h2>
  <p>In unseren Preisen sind alle Kosten bereits enthalten. Unsere Keramikstücke rangieren zwischen 10 zu 50 Euro. Zum Beispiel kann eine einfache Tasse oder Teller ungefähr 11 bis 15 Euro kosten.</p>
  <h2>Mit familie und freunden oder lieber in aller ruher daheim?</h2>
  <p>Order Sie möchten, dass eine ganze Klasse auf einem großen Dankeschön-Teller für die Klassenlehrerin unterschreibt? Kein Problem! Kommen Sie vorbei, suchen Sie sich Ihre Keramik aus und wir geben Ihnen die Keramik und in kleine Tiegel abgefüllt die Farben Ihrer Wahl mit nach Hause. Anschließend bringen Sie uns die Keramik wieder und wir glasieren und brennen sie wie gewohnt.</p>
</div>
