---
layout: default
---

<link rel="stylesheet" type="text/css" href="assets/veranstaltungen.css">

<div class="sidenav">
  <a href="https://usridas.github.io/derkeramikofen.github.io/#home.html">Über uns</a>
  <a href="https://usridas.github.io/derkeramikofen.github.io/#veranstaltungen.html">Veranstaltungen und Aktuelles</a>
  <a href="https://usridas.github.io/derkeramikofen.github.io/#kontakt.html">Kontakt und Information</a>
</div>

<div class="news section">
  <h2>Liebe Kundinnen und Kunden,</h2>
  <p>Leider dürfen wir unser Geschäft noch nicht öffnen. Das heißt, wir bieten Euch weiterhin an, Keramik und Farbe für to-go zu nutzen. Bitte macht davon Gebrauch. Auch Gutscheine sind weiterhin willkommen!</p>
  <h2>Öffnungszeiten:</h2>
  <p>Mittwochs, Donnerstags und Freitags von 15-18 Uhr und Samstags von 12-17 Uhr</p>
  <p>Bleiben Sie gesund! Vielen Dank für Ihr Verständnis.</p>
  <h2>Geschlossenen Veranstaltung</h2>
  <p>Möchten Sie den Keramikofen für Gruppen mieten, dann beträgt die Stundengebühr während der Öffnungszeiten 60.- Euro/h. Besondere Wünsche ausserhalb der Öffnungszeiten können die Räume stundenweise nach Absprache gemietet werden!</p> 
</div>
